.bg {
    // background-image: url(../../../../../assets/img/Stage/audi1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;
  
    // position: relative;
  }
  section{
    position: relative;
    height: 100%;
    width: 100%;
    #clap{
      position: absolute;
      top: 19%; 
      right: 1%;
      z-index: 1000;
      img{
        width: 35px;
      }
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 100vw;
            height: 115vh;
          }
        }
        #player_sec{
          position: absolute;  
          background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 90vh;
        }
      }
    }
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  
  @media (max-width: 767px){
  .bg{
    background-position: top center;
      background-size: contain;
  }
  
  }
  @media (max-width: 767px){
    
    #player_sec{
      // height: 100vw !important;
      position: absolute;  
      top: 0%;
  left: 0%;
      iframe{
        // width: 40.3vw;
        // height: 46.2vh;
        // width: 100vw;
  height: 100vh !important;
  
      }
    }
    }
  .rightMenu{
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 9999;
  text-align: center;
  // padding: 20px 10px;
  padding: 10px 10px;
  color: #fff;
  background: rgba(0,0,0,.3);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  }

  a{
  
  cursor: pointer;
  }
  .handimg{
  width:48px;
  height:48px;
  display: block;
  background-image: url(../../../../../assets/hand.png);
  background-repeat:no-repeat;
  }
  
  @media (max-width: 767px){
    section{
      #clap{
          top: 18%;
          img{
              width: 35px;
          }
      }
    }
    .rightMenu{
      position: absolute;
      right: 0;
      top: 36%;
      z-index: 9999 ;
      text-align: center;
      padding: 5px;
      color: #fff;
      background: rgba(0,0,0,.3);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      ul{
          margin: 0;
          li{
              margin: 2px;
              a{
                  img{
                      width: 20px;
                  }
                  div{
                      font-size: 10px;
                  }
              }
          }
      }    
  }
  }



#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  // .chat_box{
  //   .chat_message{
  //     list-style-type: none;
  //     padding: 0;
  //     display: inline-block;
  //     height: 400px;
  //     width: 96%;
  //     overflow-y: auto;
  //     overflow-x: hidden;
  //     .chat_messageList{
  //       padding: 10px;
  //       .img_avatar{
  //         float: left;
  //         width: 46px;
  //         img{
  //           width: 28px;
  //         }
  //       }
  //       p{
  //         .person{
  //           display: block;
  //           color: #292f35;
  //           font-weight: bold;
  //           font-size: 14px;
  //           float: left;
  //           cursor: pointer;
  //           margin-right: 15px;
  //           text-transform: capitalize;
  //           line-height: 18px;
  //           .checkProfile{
  //             text-decoration: none;
  //             outline: none;
  //             color: #292f35;
  //           }
  //         }
  //         .time {
  //           float: right;
  //           color: dimgrey;
  //           line-height: 18px;
  //         }
  //       }
  //       .text_message{
  //         font-size: 12px;
  //         font-weight: 500;
  //         line-height: 15px;
  //         margin-left: 48px;
  //         clear: both;
  //         margin-bottom: 5px;
  //       }
  //     }
  //     .user-profile-row:nth-child(even){
  //       background: #e8e8e8;
  //     }
  //     .user-profile-row {
  //       width: 100%;
  //       display: flex;
  //       align-items: center;
  //      // background-color: #fff;
  //       margin: 0;
  //       padding: 8px;
  //       .user-profile-data {
  //           width: 85%;
  //           display: inline-block;
  //           .user-profile-image {
  //               width: 48px;
  //               float: left;
  //           }
  //           .user-profile-info {
  //               max-width: 70%;
  //               float: left;
  //           }
  //           .user-profile-name {
  //               font-size: 16px;
  //               font-weight: 600;
  //               margin-bottom: 5px;
  //               line-height: 15px;
  //               color: #000;
  //               text-transform: capitalize;
  //               a{
  //                   text-decoration: none;
  //                   outline: none;
  //                   color: var(--primary-color);
  
  //               }
  //           }
  //           .user-profile-company {
  //               font-size: 12px;
  //               font-weight: 400;
  //               line-height: 12px;
  //               color: #000;
  //               margin-bottom: 0px;
  //           }
  
  //       }
  //   }
  //   }
  // }
  // .message_input {
  //   padding: 10px;
  //   textarea {
  //     border: none;
  //     height: 102px;
  //     box-sizing: border-box;
  //     outline-width: 0;
  //     padding: 10px;
  //     font-size: 14px;
  //     width: 78% !important;
  //     border-radius: inherit;
  //     border-radius: 2px;
  //     background: #e8e8e8;
  //     border: 0px;
  //     padding: 10px 5px 6px 15px;
  //     // line-height: 11px;
  //     /* margin-left: 15px; */
  //     resize: none;
  //     border: 1px solid #e8e8e8;
  //     outline: none;k
  //   #chatBtn{
  //     width: 20%;
  //     font-size: 12px;
  //     background: #ebebeb;
  //     padding: 2px;
  //     box-shadow: none;
  //     height: 40px;
  //     border-radius: inherit;
  //     background: #292f35;
  //     border: navajowhite;
  //     margin-top: 0;
  //     svg{
  //       color: #fff;
  
  //     }
  //   }
  // }
  
  // .online_chat{
  //   min-height: 400px;
  //   overflow: auto;
  
  // }
  
  
  // /* width */
  // ::-webkit-scrollbar {
  //   width: 7px;
  // }
  
  // /* Track */
  // ::-webkit-scrollbar-track {
  //   background: #f1f1f1;
  //   border-radius: 10px;
  // }
  
  // /* Handle */
  // ::-webkit-scrollbar-thumb {
  //   background: #292f35;
  //   border-radius: 10px;
  // }
  
  // /* Handle on hover */
  // ::-webkit-scrollbar-thumb:hover {
  //   background: #292f43;
  // }
  #back{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #141433;
    color: white;
    z-index: 9999;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }








  

  .bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    // overflow:hidden;
    top:0px;
    left:0;
   
   background: linear-gradient(to left,  #36393e 50%,  #27292c 50%);
  
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    //background:#5a1f21;
    border-radius:50%;
    opacity:0.5;
    animation: rise 2s infinite ease-in;
  
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:4s;
  }
  .bubble:nth-child(2){
    width:150px;
    height:150px;
    left:20%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:100px;
    height:100px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }
  
  .bubbles img {
    width: 90%;
  }


  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow-y: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .user-profile-row:nth-child(even){
        background: #f2f4f7;
      }
      .user-profile-row {
        width: 100%;
        display: flex;
        align-items: center;
       // background-color: #fff;
        margin: 0;
        padding: 8px;
        .user-profile-data {
            width: 95%;
            display: inline-block;
            .user-profile-image {
                width: 48px;
                float: left;
            }
            .user-profile-info {
                max-width: 70%;
                float: left;
            }
            .user-profile-info2 {
              max-width: 70%;
              float: right;
          }
            .user-profile-name {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
                line-height: 15px;
                color: #000;
                text-transform: capitalize;
                a{
                    text-decoration: none;
                    outline: none;
                    color: var(--primary-color);
  
                }
            }
            .user-profile-company {
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                color: #000;
                margin-bottom: 0px;
            }
  
        }
    }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      // line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    input{
  
      height: 40px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 12px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 5px 5px 6px 5px;
      line-height: 11px;
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
  
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  }
    
    
    .search-container {
      padding: 10px;
      input {
        border: none;
        height: 40px;
        box-sizing: border-box;
        outline-width: 0;
        padding: 10px;
        font-size: 12px;
         width: 75% !important;
        border-radius: inherit;
        border-radius: 2px;
        background: #e8e8e8;
        border: 0px;
        padding: 5px 5px 6px 5px;
        line-height: 11px;
        /* margin-left: 15px; */
        resize: none;
        border: 1px solid #e8e8e8;
        outline: none;
      }
      button{
      float: right;
      position: absolute;
      padding: 7px 10px;
      // margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
      }
    }
    
    /* width */
    ::-webkit-scrollbar {
      width: 7px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #292f35;
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #292f43;
    }
    
    .box3 {
      width: 300px;
      margin: 5px auto;
      border-radius: 15px;
      margin-left: 10px;
      // background: #00bfb6;
      background: dimgrey;;
      color: #fff;
      padding: 20px;
      text-align: center;
      font-weight: 900;
      font-family: arial;
      position: relative;
  }
  .box4 {
    width: 300px;
    margin: 5px auto;
    border-radius: 15px;
    margin-left: 10px;
    background: orange;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: arial;
    position: relative;
  }
  .sb15:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid orange;
    border-top: 15px solid orange;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  }
  .sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #00bfb6;
    border-right: 15px solid transparent;
    border-top: 15px solid #00bfb6;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
  }
  