
#skip{
  position: absolute;
  top: 10px;
  left: 75px;
  background: #141433;
  color: white;
  z-index: 99999999999;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0px;
  a{
      text-transform: capitalize;
      color: white;
  }
}
.bg {
    // background-image: url(../../../assets/img/Lobby/lobby.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-color: #464646;

    width: 100%;
    height: 100vh;
    // position: relative;
}
.loby-bg {
    img{        
    width: 100vw;
    height: 100vh;
    }
}
section{
    position: relative;
    .content-wrap {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      position: relative;
      .lobby-bg{
        position: relative;
          width: 100%;
          height: 100%;
          display: block;
      }
    } 
  }
  .alert alert-success{
    background-color: #e40e38;
  }
.reception {
        position: absolute;
        bottom: 45.5%;
        right: 71.5%;
        cursor: pointer;
        // background: black;
        height: 4vw;
        width: 4vw;       
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }
}
.key_portfolio {
        position: absolute;
        bottom: 47%;
    left: 5%;
        cursor: pointer;
        // background: black;
        height: 4vh;
        width: 4vw;          
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 50%;
    }
}
.auditorium-left {
    position: absolute;
    top: 35%;
    left: 6%;
    height: 8.2vh;
    width: 17.2vw;
    cursor: pointer;
    // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 57%;
    }
}
.auditorium-front {
  position: absolute;
  top: 42%;
  // left: 41%;
  // height: 8.2vh;
   left: 84%;
  height: 5.2vh;
  width: 3.2vw;
  cursor: pointer;
  // background: black;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 57%;
  }
}
.auditorium-right {    
        position: absolute;
        top: 42%;
    right: 65.7%;
        height: 5vh;
        width: 3vw;
        cursor: pointer;
        // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
.exhibition-hall {
    height: 3vh;
    width: 3vw;
    position: absolute;
    top: 42%;
    left: 66.3%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 15%;
      }
  
  }
.registraion-desk {
    .pulsating-circle{
        position: absolute;
        // top: 53%;
        top:52%;
        left: 49.8%;
        cursor: pointer;
    }
}
.networking-lounge {
    height: 3vh;
    width: 2vw;
    position: absolute;
    top: 42%;
    right: 85.6%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 5%;
      }
  
  }
.agenda {
    position: absolute;
    bottom: 46%;
    right: 0.5%;
    cursor: pointer;
    // background: black;
    height: 4vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.heighlights {
    position: absolute;
    bottom: 45.3%;
    left: 76.5%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}

  .wtsapp {
    position: absolute;
    bottom: 50.3%;
    left: 13.5%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 44%;
        right: 60%;
        cursor: pointer;
    }
  }


// #content{
//   position: relative;
//   #content_wrap{
//     position: relative;
//     #bg{
//       position: relative;
//       width: 100%;
//       height: 100%;
//       display: block;
//       img{
//         width: 100vw;
//         height: 105vh;
//       }
//     }
//   }




    #player_sec{
      position: absolute;  
      top: 30.5%;
    left: 42%;
      vg-player{
        width: 16vw;
        height: 16vh;
      }
    }
//   }
// }
// #player_sec{
//     position: absolute;
//     top: 39.1%;
//     left: 49.55%;
//     transform: translate(-50%, -50%);
//   }
.playScreen{
    position: absolute;
    top: 29%;
    left: 42%;
    video{
        position: absolute;
        background: black;
        padding: 2px;
        width: 16vw;
        height: 17.8vh;
        border-radius: 5px;
    }
    img{
        padding: 2px;
        width: 15.3vw;
        height: 17.8vh;
        border-radius: 5px; 
        cursor:pointer;
    }
}

#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closeModalVideo{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
}
  #fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  

  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
    
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  .test:hover ~ .test2 {
    display: none;
  }
  .video {
    position: absolute;
    top: 32%;
    left: 39%;
    cursor: pointer;
    height: 14vh;
    width: 20vw;
    .pulsating-circle{
        position: absolute;
        top: 40%;
        left: 50%;
        cursor: pointer;
    }
  }
  // #popup{
  //   background: #000000c9;
  //   padding: 5px;
  //   .chat_section{
  //     background: #292F35;
  //     .popup_header{
  //       height: 40px;
  //       text-align: center;
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //       position: relative;
  //       color: #fff;
  
  //       .close {
  //         position: absolute;
  //         right: 7px;
  //         width: 24px;
  //         height: 28px;
  //         opacity: 0.5;
  //       }
  //       .close:hover {
  //         opacity: 1;
  //       }
  //       .close:before, .close:after {
  //         position: absolute;
  //         right: 7px;
  //         content: ' ';
  //         height: 28px;
  //         width: 2px;
  //         background-color: #fff;
  //       }
  //       .close:before {
  //         transform: rotate(45deg);
  //       }
  //       .close:after {
  //         transform: rotate(-45deg);
  //       }
  
  //     }
  //   }
  // }


  #modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }


















  


  .rightMenu{
    position: absolute;
    right: 0;
    top: 30%;
    text-align: center;
    padding: 20px 10px;
    color: #fff;
    background: rgba(0,0,0,.3);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    }
  
    a{
    
    cursor: pointer;
    }
    // .handimg{
    // width:48px;
    // height:48px;
    // display: block;
    // background-image: url(../../../../../assets/hand.png);
    // background-repeat:no-repeat;
    // }
    
    @media (max-width: 767px){
      section{
        #clap{
            top: 18%;
            img{
                width: 35px;
            }
        }
      }
      .rightMenu{
        position: absolute;
        right: 0;
        top: 36%;
        text-align: center;
        padding: 5px;
        color: #fff;
        background: rgba(0,0,0,.3);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        ul{
            margin: 0;
            li{
                margin: 2px;
                a{
                    img{
                        width: 20px;
                    }
                    div{
                        font-size: 10px;
                    }
                }
            }
        }    
    }
    }
  
  
  
  #popup{
      background: #000000c9;
      padding: 5px;
      .chat_section{
        background: #292F35;
        .popup_header{
          height: 40px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          color: #fff;
    
          .close {
            position: absolute;
            right: 7px;
            width: 24px;
            height: 28px;
            opacity: 0.5;
          }
          .close:hover {
            opacity: 1;
          }
          .close:before, .close:after {
            position: absolute;
            right: 7px;
            content: ' ';
            height: 28px;
            width: 2px;
            background-color: #fff;
          }
          .close:before {
            transform: rotate(45deg);
          }
          .close:after {
            transform: rotate(-45deg);
          }
    


        }
      }
    }
    .chat_box{
      .chat_message{
        list-style-type: none;
        padding: 0;
        display: inline-block;
        height: 400px;
        width: 96%;
        overflow-y: auto;
        overflow-x: hidden;
        .chat_messageList{
          padding: 10px;
          .img_avatar{
            float: left;
            width: 46px;
            img{
              width: 28px;
            }
          }
          p{
            .person{
              display: block;
              color: #292f35;
              font-weight: bold;
              font-size: 14px;
              float: left;
              cursor: pointer;
              margin-right: 15px;
              text-transform: capitalize;
              line-height: 18px;
              .checkProfile{
                text-decoration: none;
                outline: none;
                color: #292f35;
              }
            }
            .time {
              float: right;
              color: dimgrey;
              line-height: 18px;
            }
          }
          .text_message{
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            margin-left: 48px;
            clear: both;
            margin-bottom: 5px;
          }
        }
        .user-profile-row:nth-child(even){
          background: #f2f4f7;
        }
        .user-profile-row {
          width: 100%;
          display: flex;
          align-items: center;
         // background-color: #fff;
          margin: 0;
          padding: 8px;
          .user-profile-data {
              width: 95%;
              display: inline-block;
              .user-profile-image {
                  width: 48px;
                  float: left;
              }
              .user-profile-info {
                  max-width: 70%;
                  float: left;
              }
              .user-profile-info2 {
                max-width: 70%;
                float: right;
            }
              .user-profile-name {
                  font-size: 16px;
                  font-weight: 600;
                  margin-bottom: 5px;
                  line-height: 15px;
                  color: #000;
                  text-transform: capitalize;
                  a{
                      text-decoration: none;
                      outline: none;
                      color: var(--primary-color);
    
                  }
              }
              .user-profile-company {
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 12px;
                  color: #000;
                  margin-bottom: 0px;
              }
    
          }
      }
      }
    }
    .message_input {
      padding: 10px;
      textarea {
        border: none;
        height: 102px;
        box-sizing: border-box;
        outline-width: 0;
        padding: 10px;
        font-size: 14px;
        width: 78% !important;
        border-radius: inherit;
        border-radius: 2px;
        background: #e8e8e8;
        border: 0px;
        padding: 10px 5px 6px 15px;
        // line-height: 11px;
        /* margin-left: 15px; */
        resize: none;
        border: 1px solid #e8e8e8;
        outline: none;
      }
      input{
    
        height: 40px;
        box-sizing: border-box;
        outline-width: 0;
        padding: 10px;
        font-size: 12px;
        width: 78% !important;
        border-radius: inherit;
        border-radius: 2px;
        background: #e8e8e8;
        border: 0px;
        padding: 5px 5px 6px 5px;
        line-height: 11px;
        resize: none;
        border: 1px solid #e8e8e8;
        outline: none;
    
      }
      #chatBtn{
        width: 20%;
        font-size: 12px;
        background: #ebebeb;
        padding: 2px;
        box-shadow: none;
        height: 40px;
        border-radius: inherit;
        background: #292f35;
        border: navajowhite;
        margin-top: 0;
        svg{
          color: #fff;
    
        }
      }
    }
    
    .online_chat{
      min-height: 400px;
      overflow: auto;
    }
      
      
      .search-container {
        padding: 10px;
        input {
          border: none;
          height: 40px;
          box-sizing: border-box;
          outline-width: 0;
          padding: 10px;
          font-size: 12px;
           width: 75% !important;
          border-radius: inherit;
          border-radius: 2px;
          background: #e8e8e8;
          border: 0px;
          padding: 5px 5px 6px 5px;
          line-height: 11px;
          /* margin-left: 15px; */
          resize: none;
          border: 1px solid #e8e8e8;
          outline: none;
        }
        button{
        float: right;
        position: absolute;
        padding: 7px 10px;
        // margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
        }
      }
      
      /* width */
      ::-webkit-scrollbar {
        width: 7px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #292f35;
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #292f43;
      }
      
      .box3 {
        width: 300px;
        margin: 5px auto;
        border-radius: 15px;
        margin-left: 10px;
        background: #00bfb6;
        color: #fff;
        padding: 20px;
        text-align: center;
        font-weight: 900;
        font-family: arial;
        position: relative;
    }
    .box4 {
      width: 300px;
      margin: 5px auto;
      border-radius: 15px;
      margin-left: 10px;
      background: orange;
      color: #fff;
      padding: 20px;
      text-align: center;
      font-weight: 900;
      font-family: arial;
      position: relative;
    }
    .sb15:before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 15px solid transparent;
      border-right: 15px solid orange;
      border-top: 15px solid orange;
      border-bottom: 15px solid transparent;
      left: -16px;
      top: 0px;
    }
    .sb14:before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 15px solid #00bfb6;
      border-right: 15px solid transparent;
      border-top: 15px solid #00bfb6;
      border-bottom: 15px solid transparent;
      right: -16px;
      top: 0px;
    }
  
  
