<span id="skip" *ngIf="networkingLounge">
    <a class="nav-link sign" (click)="skipButton()" title="SKIP" role="button">
        SKIP</a>
</span>
<span id="skip" *ngIf="receptionEnd">
    <a class="nav-link sign" (click)="skipButton2()" title="SKIP" role="button">
        SKIP</a>
</span>
<span id="skip" *ngIf="exhibitionHall">
    <a class="nav-link sign" (click)="skipButton3()" title="SKIP" role="button">
        SKIP</a>
</span>
<span id="skip" *ngIf="auditoriumRight">
    <a class="nav-link sign" (click)="skipButton4()" title="SKIP" role="button">
        SKIP</a>
</span>
<span id="skip" *ngIf="auditoriumLeft">
    <a class="nav-link sign" (click)="skipButton5()" title="SKIP" role="button">
        SKIP</a>
</span>



<!-- briefcase end -->
<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="content loby-content">
            <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">
                <!-- <div class="bg"></div> -->
                <div class="loby-bg">
                    <img src="assets/signify/Lobby-Final3.jpg" width="100%" alt="audi">
                    <!-- <video src="https://gskamm2021.virtualxp.live/videos/lobby-video.mp4" width="100%" loop autoplay></video> -->
                </div>

                <div class="reception" data-toggle="modal" data-target=".pic1">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div>
                <div class="key_portfolio" data-toggle="modal" data-target=".pic2">
                    <div class="pulsating-circle" id="frontaudi_pulse"></div>
                </div>

                <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                    <div class="alert alert-success" role="alert">
                        The session is Live now, please join us at the auditorium.

                    </div>

                </div>


                <div id="content">
                    <div id="content_wrap">
                        <div id="bg">
                            <img src="../../../../../assets/img/Stage/audi1.png" alt="">
                        </div>
                        <!-- <div id="player_sec">
                            <vg-player>
                                <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                                    <vg-play-pause></vg-play-pause>
                                    <vg-time-display></vg-time-display> -->
                        <!-- <vg-playback-button></vg-playback-button> -->
                        <!-- <vg-mute></vg-mute>
                                    <vg-volume></vg-volume>
                                    <vg-fullscreen></vg-fullscreen>
                                </vg-controls>
                                <vg-buffering></vg-buffering>
                                <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videoPlayer" loop="true"
                                    autoplay="true" vg-responsive="true" type="video/mp4">

                                </video>
                            </vg-player>
                        </div> -->
                    </div>
                </div>
                <div class="playScreen">
                    <div>
                        <!-- <video id="video" preload="auto" autoplay src="../../../assets/mov_bbb.mp4"
                           (ended)="endPlayscreen()" controls>
                        </video> -->
                        <!-- <video id="video" preload="auto" autoplay src="assets/lilly/video/Lobby_Video.mp4"
                           loop controls>
                        </video> -->
                    </div>
                    <!-- <div *ngIf="showPoster">
                        <img src="../../../assets/serdia_myanmar/images/playScreen.jpg" (click)="playScreenOnImg()" alt="">
                    </div> -->
                    <!-- <img src="../../../assets/serdia_myanmar/images/playScreen.jpg" (click)="openModalVideo()" alt=""> -->
                </div>
                <!-- <div class="playmodalvideo">
                    <div id="light">
                        <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
                        <video id="VisaChipCardVideo" src="../../../assets/mov_bbb.mp4" width="600" controls>
                        </video>
                    </div>
                    <div id="fade" (click)="lightbox_close();"></div>
                    <div class="video" title="Play Video" (click)="lightbox_open();">
                    </div>
                </div> -->



                <!-- <div class="auditorium-left" (click)="playAuditoriumLeft();stepUpAnalytics('click_lounge')">
                    <div class="pulsating-circle" id="audLeft_pulse"></div>
                </div>  -->



                <!-- <div class="auditorium-front" (click)="playGrowBySharingVideo();stepUpAnalytics('click_galaevening')">
                    <div class="pulsating-circle" id="gala"></div>
                </div>  -->


                <!-- playReception() -->

                <div class="auditorium-right" (click)="playAuditoriumRight();stepUpAnalytics('auditorium_201')">
                    <div class="pulsating-circle" id="audRight_pulse"></div>
                </div>
            
                <!-- 
                <div class="auditorium-front" (click)="playGrowBySharingVideo();stepUpAnalytics('click_galaevening')">
                    <div class="pulsating-circle" id="gala"></div>
                </div>  -->

                <div class="auditorium-front" 
                (click)="stepUpAnalytics('click_game');openGame();">
                    <div class="pulsating-circle" id="gala"></div>
                </div>


                <div class="exhibition-hall"  (click)="gotoExhibitionHallOnVideoEnd(); stepUpAnalytics('click_photobooth')">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="playExhibitionHall()"></div>
                </div>


                <div class="registraion-desk" data-toggle="modal" data-target=".liveQuestionModal"
                    (click)="stepUpAnalytics('click_helpdesk')">
                    <div class="pulsating-circle" id="regDeskvideo"></div>
                </div>
                <!-- 
                <div class="networking-lounge" data-toggle="modal" data-target=".quizModal">
                    <div class="pulsating-circle" id="networking_pulse"></div>
                </div> -->

                <div class="wtsapp" data-toggle="modal" data-target=".showlevels"
                (click)="stepUpAnalytics('click_quiz')">
                    <div class="pulsating-circle"  id="wtsapp_pulse"></div>
                </div>

                <div class="agenda" data-toggle="modal" data-target=".pic3"
                (click)="stepUpAnalytics('click_agenda')">
                    <div class="pulsating-circle" id="agenda_pulse">

                    </div>
                </div>

                <div class="heighlights" data-toggle="modal" data-target=".pic4">
                    <div class="pulsating-circle" id="heighlight_pulse">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="recepVideo" class="videoBg" (ended)="receptionEndVideo()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/Lilly_Tunnel.mp4" type="video/mp4">
    </video>
</div>

<div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="audLeftvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumLeftOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/fmc/Networking Lounge.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumRight ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="audRightvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumRightOnVideoEnd()">
        <source src="assets/signify/video/PD.mp4" type="video/mp4">
    </video>
</div>
<!-- <div [ngStyle]="{'display':auditoriumfront ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="audfrontvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumfrontOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/fmc/Photobhooth.mp4" type="video/mp4">
    </video>
</div> -->

<!-- <div [ngStyle]="{'display':exhibitionHall ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="exhibitvideo" preload="auto" class="videoBg" (ended)="gotoExhibitionHallOnVideoEnd()">
          <source src="" type="video/mp4"> 
    </video> 
</div> -->

<div [ngStyle]="{'display':registrationDesk ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="regDeskvideo" preload="auto" class="videoBg" (ended)="onEndKeyPortfolio()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/Lilly_Tunnel.mp4" type="video/mp4">
    </video>
</div>
<!-- <div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video playsinline id="netLoungevideo" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/fmc/Exibition.mp4" type="video/mp4">
    </video>
</div> -->

<!-- <div id="light">
    <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
    <video id="VisaChipCardVideo"[src]="videoUrl" autoplay width="600" controls>
       
      </video>
  </div>
  <div id="fade" (click)="lightbox_close();"></div> -->

<div class="modal fade yvideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>



<!-- liveshow -->

<div class="modal fade showlevels" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Quiz</h6>
                                <a class="close" (click)="closetriiva()"></a>
                            </div>
                            <div class="p-5 text-center bg-white">
                                <button class="btn btn-success m-2" (click)="getLevel()">Start Quiz</button>
                                <!-- <button [disabled]="(level===2)? false:true" class="btn btn-success m-2" (click)="getLevel(99)">Level 2</button> -->
                                <!-- <button class="btn btn-success m-2" (click)="getLevel(4)">Level 2</button>
                                <button class="btn btn-success m-2" (click)="getLevel(6)">Level 3</button> -->

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade groupchatFours" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">

                            <div class="popup_header">
                                <h6>Quiz</h6>
                                <a class="close" (click)="closePopupquiz()"></a>
                            </div>


                            <div class="bg-white" style="overflow-y: scroll;
                                    height: 600px; 
                                    background-image: url('assets/signify/quizimg.jpg');">



                                <div *ngIf="showQuiz">
                                    <div *ngFor="let data of result">
                                        <div class="col-md-12">

                                            <br />
                                            <hr />
                                            <div class="col-md-8">
                                                <h5 style=" font-size: 20px !important;">{{data.question}}</h5>
                                                <div *ngFor="let o of data.options">
                                                    <input type="radio" name="{{data.id}}" value="{{o}}"
                                                        (click)="getAnswers(data.id, o)">
                                                    {{o}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="text-center">

                                        <input type="submit" class="btn" value="Submit" (click)="submit()" style="background: #366c98; color: white;
                                                        margin: 10px;" />
                                    </div>
                                    <!-- <img src="assets/signify/quizimg.jpg" width="100%" height="100%" alt=""> -->
                                </div>
                                <div *ngIf="!showQuiz">
                                    <hr>
                                    <div style="text-align:center; padding: 100px">
                                        <p style="background: #417cab;
                                                            color: white;
                                                            border-radius: 10px;
                                                            padding: 5px;">Quiz successfully submitted.
                                            <br> Your Score is {{totalscore}} out of {{result.length}}.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closeModalVideo" (click)="closeModalVideo()">&times;</div>
                    <video id="video" preload="auto" src="../../../assets/mov_bbb.mp4" width="100%" controls>
                    </video>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade NoFeedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Virtual NSC Feedback Form</h6>
                                <a class="close" (click)="closePopuptwo()"></a>
                            </div>
                            <div class="container-fluid" style=" background: #f2f4f7;">
                                <h4 class="text-center p-5">Your Feedback Successfully Submitted</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 4 PDF -->

<div class="modal fade" id="playVideos" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true"
    style="z-index: 9999;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div> -->
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closeModalVideos()">&times;</div>
                    <video id="videop" preload="auto" src="../../../assets/mov_bbb.mp4" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade pic1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="max-width: 75%;">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>COLABORATIVE</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <embed src="assets/signify/1-02.pdf" style="height: 80vh;" width="100%" />
                                        <!-- <img src="assets/signify/1-02.pdf" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade pic2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="max-width: 75%;">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>EXCELLENT</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <embed src="assets/signify/1-01.pdf" style="height: 80vh;" width="100%" />
                                        <!-- <img src="assets/signify/1-01.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade pic3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="max-width: 75%;">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>PROACTIVE</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <embed src="assets/signify/1-03.pdf" style="height: 80vh;" width="100%" />
                                        <!-- <img src="assets/signify/1-03.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade pic4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="max-width: 75%;">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>RELIABLE</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #c5c5c5;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <embed src="assets/signify/4-04.pdf" style="height: 80vh;" width="100%" />

                                        <!-- <img src="assets/signify/4-04.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade note1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6>BEFORE 1PM</h6> -->
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #ffffff;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <h3 class="p-5"><b>SESSION WILL START AT 0900 HRS</b></h3>
                                        <!-- <img src="assets/Standee-03.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade note2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6>AFTER 6PM</h6> -->
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #ffffff;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <h3 class="p-5"><b>SESSION IS OVER</b></h3>

                                        <!-- <img src="assets/Standee-03.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade note3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6>BEFORE 6PM</h6> -->
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #ffffff;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <h3 class="p-5"><b>SESSION WILL START AT 1900 HRS</b></h3>
                                        <!-- <img src="assets/Standee-03.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade gameModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row" style=" 
                  display: flex;
                  flex-wrap: wrap;
                  margin-right: -95px;
                  margin-left: -94px;
              ">
                  <div class="col-md-12 col-xl-12">
                    <div class="chat_section">
                      <div class="popup_header">
                        <h6>Game</h6>
                        <a  data-dismiss="modal" class="close" (click)="closegame()"></a>
                      </div>
                      <div id="frame"></div>
              
                      <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeeJ0fpYzt8qNGEPwm9JSiJeBnG7DjjK_lpbIKHAVTdrLX3yQ/viewform?embedded=true" frameborder="0" width="100%" height="550"></iframe> -->
                     
                      <!-- <div class="container-fluid" style=" background: #f2f4f7;">
              
                       <form [formGroup]="ratingForm" *ngIf="!show">
                        <div class="form-row">
                            <div class="form-group col-sm-8 mt-2">
                               <h6 class="mb-0">Rate your exprience</h6>
                            </div>
                            <div class="form-group col-sm-4 mt-2 text-center">
                                <h6 class="mb-0">5 being the highest</h6>
                            </div>
                        </div>
                        <div class="form-row pt-3" *ngFor="let feed of feedbackList, let i = index">
                          <div class="form-group col-sm-12">
                            {{feed.title}}<span style="color: crimson;font-size: large;"> *</span>
                          </div>
                          <div class="form-group col-sm-12">
                              <textarea type="text"  class="form-control" placeholder="Enter Your Answer" id="agenda" formControlName="agenda" ></textarea>
                          </div>
                      </div>
              
                      <div class="form-row" *ngFor="let rating of ratingList, let i = index">
                        <div class="form-group col-sm-12">
                           {{rating.title}}<span style="color: crimson;font-size: large;"> *</span>
                        </div>
                        <div class="form-group col-sm-12 text-left">
                          <div class="form-check-inline rate" *ngFor="let radio of [1, 2, 3, 4, 5]">
                            <input class="form-check-input" type="radio" name="gridRadios + {{rating.title}}" id="gridRadio + {{radio}}" value="{{radio}}" (change)="radioValue($event.target.value, rating.id)" >
                            <label class="form-check-label" for="gridRadios+{{radio}}" >
                             {{radio}}
                            </label>
                          </div>
                          
                        </div>
                    </div>
                       
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-sm-6 mt-2">
                               <h6 class="mb-0">Any recommendation on...</h6>
                            </div>
                            <div class="form-group col-sm-6 mt-2">
                                <h6 class="mb-0">Remarks</h6>
                            </div>
                        </div>
                        
                        <div class="form-row">
                          <div class="form-group col-sm-6 offset-sm-3">
                              <button type="submit" class="btn btn-danger btn-block" (click)="submitFeedback()">Submit</button>
                          </div>
                      </div>
                        <div class="form-row" >
                          <div class="form-group col-sm-6">
                            Registration Process
                          </div>
                          <div class="form-group col-sm-6">
                              <input type="text"  class="form-control" placeholder="Write here" id="registration" formControlName="password" >
                          </div>
                      </div>
                      <div class="form-row" >
                        <div class="form-group col-sm-6">
                          Event Promotion
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text"  class="form-control" placeholder="Write here"id="event" formControlName="password" >
                        </div>
                      </div>
                        
                       </form>
                       <div *ngIf="show"> 
                        <h3 class="text-center p-5">Your Feedback Successfully Submitted</h3>
                       </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              
                <!-- <div class="container-fluid" id="popup">
                  <div class="row" >
                    <div class="col-md-12 col-xl-12">
                      <div class="chat_section">
                        <div class="popup_header">
                          <h6>conference Feedback</h6>
                          <a class="close" (click)="closePopup()"></a>
                        </div>
                        <div class="container-fluid" style="background: #c5c5c5; height: 300px !important;">
                          <div class="row" >
                            <div class="col-md-12 col-xl-12 pl-0 pr-0 pb-0">
                              <embed src="../../../assets/img/feedback.jpeg" frameborder="0"
                              width="100%">
                
                
                            </div>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div> -->
                
        </div>
    </div>
</div>
</div>