
<!-- <span id="skip" *ngIf="videoPlay2">
  <a class="nav-link sign" (click)="skipButton()" title="SKIP" role="button">
      SKIP</a>
</span> -->
<div class="container-fluid" [ngStyle]="{'display':videoPlay2? 'none': 'block'}">
  
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
      <!-- <img src="/assets/login.jpg" class="login-img" alt="login image"> -->
      <!-- <img src="assets/icons/Login page (1).jpg" class="login-img" alt="login image">  -->

      <video id="signify_video" style="height: 100vh;
        width: 100vw;
        object-fit: fill;" src="assets/signify/video/Login_page.mp4" width="100%" loop autoplay>
        </video>

        <!-- <div class="vid">
                   
                    <video id="myvideo" style="height: 100vh;
                    width: 100vw;
                    object-fit: fill;"  src="assets/signify/video/Login Page.mp4" width="100%" preload="auto" playsinline loop autoplay
                  id="playbgvideo">
                  
                  </video>  
           </div>  -->
           
       

      <div class="login-section-wrapper">
        <!-- <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div> -->
        <!-- <div class="brand-wrapper">
          <img src="assets/lilly/images/logo_2.png" alt="logo">
        </div> -->
        <div class="login-wrapper my-auto">
          <!-- <h1 class="login-title">Sign In</h1> -->
          
          <form  [formGroup]="profileForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
            <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div>
            <div class="form-group">
              <h2 class="text-white">Sign In</h2>
              <div class="input-field">
                <h4>Name</h4>
                <input type="text" class="form-control" required autocomplete="off" formControlName="name" placeholder="name">
              <h4>Email</h4>
              <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder="email@example.com">
             
              
              </div>
            </div>
            <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
            <!-- <p style="  cursor: pointer;  font-size: 10px;
              text-align: left;
              color: white;
              font-weight: 700;
              margin: 0 !important;" (click)="changeReset()">Forgot Password?</p> -->
          </form>
          
          <!-- <div *ngIf="checkmail">
            <h5 class="text-white text-danger"><b>PLEASE CHECK YOUR MAIL</b></h5>
          </div>
          <div *ngIf="spin" class="text-center">
            <img class="w-25" src="assets/loader.gif" alt="">
            </div> -->
         
      </div>
    </div>
  </div>
</div>

</div>
<div [ngStyle]="{'display':videoPlay2? 'block': 'none'}" class="videoContainer">
   <video playsinline style="z-index: 0;" id="loginVideo"  preload="auto" class="videoBg" (ended)="endVideo()">
          <source src="https://d3ep09c8x21fmh.cloudfront.net/fmc/Lobby View_Morning.mp4" type="video/mp4">
        </video>
</div>
<!-- <div [ngStyle]="{'display':vid? 'block': 'none'}" class="videoContainer">
    <video playsinline id="vid" preload="auto">
       
    </video>
</div> -->

<div>
  <!-- <div id="potrait" *ngIf="videoPlay2 && potrait">
    <img src="../../assets/rotate.gif" alt="">
    <p>Switch to Landscape view</p>
  </div> -->
</div>
<!-- <main>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12  px-0 d-none d-sm-block">
        <img src="../../assets/img/h-about.jpg" alt="login image" class="login-img">
        <div class="login-section-wrapper">
          <div class="brand-wrapper">
            <img src="assets/logo.png" height="50" alt="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Sign In</h1>
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" formControlName="email" placeholder="email@example.com">
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required class="form-control" placeholder="enter your passsword"
                  formControlName="password">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" (click)="login()" type="button" value="Login">
            </form>
            <a href="#!" class="forgot-password-link">Forgot password?</a>
            <p class="login-wrapper-footer-text">you have an account? <a href="#!" class="text-reset">Signin here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->