<!-- <span id="skip" *ngIf="videoPlay">
  <a class="nav-link sign" (click)="skipButton()" title="SKIP" role="button">
      SKIP</a>
</span> -->
<div class="container-fluid" [ngStyle]="{'display':videoPlay? 'none': 'block'}">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
      <img src="assets/login.jpg" class="login-img" alt="login image">
      <div class="login-section-wrapper">

        <div class="login-wrapper my-auto">

          <form *ngIf="isFoo" [formGroup]="profileForm" #formDir="ngForm" >
            <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div>
            <div class="form-group">
              <h4>Sign In</h4>
              <div class="input-field">
              <h6>Email</h6>
              <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder="email@example.com">
              <h6>Password</h6>
              <input type="password" class="form-control" required autocomplete="off" formControlName="pwd" placeholder="Password">
              <p style="font-size: 10px; text-align: right; color: white; font-weight: 700; margin: 0 !important;">Forget Password ?? reset <a href="#" (click)="changeForm()" style="color: crimson;">click here</a></p>
              </div>
            </div>
            <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
          </form>
          <form *ngIf="isFood" [formGroup]="profileForm2" #formDir="ngForm" (ngSubmit)="updatePass()">
              <div class="form-group">
                <!-- <h4>Get OTP on Mail</h4> -->
                <div class="input-field">
                <h6>New Password</h6>
                <input type="text" class="form-control" required autocomplete="off" formControlName="password" placeholder="Enter New Password">
                <!-- <h6>OTP</h6>
                <input type="text" class="form-control" required autocomplete="off" formControlName="otp" placeholder="Send OTP"> -->
                
                </div>
                <div *ngIf="spin" class="text-center">
                <img class="w-25" src="assets/loader.gif" alt="">
                </div>
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Reset Password">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngStyle]="{'display':videoPlay? 'block': 'none'}" class="videoContainer">
      <video id="myVideo" preload="auto" class="videoBg" (ended)="endVideo()">
          <source src="https://d3ep09c8x21fmh.cloudfront.net/fmc/Lobby View_Morning.mp4" type="video/mp4">
        </video>
</div>
<div>

</div>
