<div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
    <div class="bg"></div>
    <div class="auditorium-left">
        <div class="pulsating-circle" [routerLink]="['/auditorium/left']"></div>
    </div>
    <div class="auditorium-right">
        <div class="pulsating-circle" [routerLink]="['/auditorium/right']"></div>
    </div>

    <div class="exhibition-hall">
        <div class="pulsating-circle" [routerLink]="['/exhibitionHall']"></div>
    </div>
    <div class="registraion-desk">
        <div class="pulsating-circle" [routerLink]="['/registrationDesk']"></div>
    </div>
    <div class="networking-lounge">
        <div class="pulsating-circle" [routerLink]="['/networkingLounge']"></div>
    </div>
</div>

<div [ngStyle]="{'display':videoEnd ? 'none': 'block'}" class="videoContainer">
    <video id="myVideo" autoplay="true" class="videoBg">
        <source src="../../../assets/video/day_outer_bilding-1.mp4" type="video/mp4">
    </video>
</div>