
<div>
    <div class="bg"></div>
  
  
    <!-- <div class="askqa">
      <div class="pulsating-circle" data-toggle="modal" data-target=".liveQuestionModal">
  
      </div>
  </div> -->
  <div class="front_audi" (click)="gotoAuditoriumFront()">
    <div class="pulsating-circle" id="frontaudi_pulse"></div>
</div>
    <div class="agenda" (click)="gotoAuditoriumFourth()">
        <div class="pulsating-circle" id="fourthaudi_pulse"></div>
  
        </div>
    
    <!-- <div class="heighlights">
        <div class="pulsating-circle"  data-toggle="modal" data-target=".heightlightModal">
  
        </div>
    </div> -->
  </div>
  
  
  