
#popup{
    // background: #000000c9;
    padding: 5px;
    .chat_section{
      // background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // color: #fff;
        color: #292F35;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
          background: #292F35;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }

#openPopup{
    position: absolute;
    top: 50.5%;
    left: 48.7%;
    width: 5vw;
    height: 7vh;
    // background: black;
    cursor: pointer;
    .pulsating-circle{
      position: absolute;
      top: 65%;
      left: 50%;
    }
}
section{
  position: relative;
  height: 100%;
  width: 100%;
  #content{
    position: relative;
    #content_cam{
      position: relative;
      height: 100%;
      width: 100%;
      #bg{
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        img{
          width: 100vw;
          // height: 105vh;
          height: 95vh;
        }
      }
    }
  }
}
.bg {
    background-image: url(../../../assets/photobooth.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;

    // position: relative;
}
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media (max-width: 767px){
	.bg{
		background-position: top center;
    	background-size: contain;
  }
  #back{
    margin-left: 50px !important;
  }
}
.vid {
  width: 100%;
  // border-top: 3px solid #ffc90e;
  // border-right: 3px solid #ffc90e;
  // border-left: 3px solid #ffc90e;
  // border-radius: 5px;
  // max-height:40vh;
}
#wholeCam{
  position: relative;
  #watermark{
    position: absolute;
    // text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    // left: 7px;
    // height: 52px;
    // background: white;
    font-size: 18px;
    // font-weight: 600;
    // bottom: 9px;
    // line-height: 50px;
    padding: 7px;
  }
  #headerimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //height: 52px;
    padding: 7px;
  }
}


#back{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0px;
  a{
      text-transform: capitalize;
      color: white;
  }
}