<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top p-0">
    <div class="container-fluid">
        <a class="navbar-brand text-success" href="#">
            <img src="assets/logo.png" alt="logo" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item pl-2"><a [routerLink]="['/lobby']"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li class="nav-item pl-2"><a href="" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-fw fa-info-circle"></i>
                        Information</a></li>
                <!-- <li class="nav-item pl-2"><a [routerLink]="['/lobby']"><i class="fa fa-fw fa-map"></i> Guide</a></li> -->
            </ul>
            <div class="col-md-2 text-right pr-5" id="icon-right">
                <li>
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-fw fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left:14px">
                        <a class="dropdown-item" href="#">{{firstName}}</a>
                        <a class="dropdown-item" href="#">Online</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Away</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-gears"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item btn" data-toggle="modal" data-target=".bd-example-modal-lg">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>

            </div>
        </div>
    </div>
</nav>

<main [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet"></router-outlet>
</main>
<div class="footer-nav">
    <ul class="footer-nav1">
        <li>
            <a [routerLink]="['/lobby']" routerLinkActive="linkActive"><img [src]="(router.url==='/lobby')? '../../assets/icons/home_h.png': '../../assets/icons/home.png'"
                    alt="">
                <div>Lobby</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/auditorium/left']" routerLinkActive="linkActive"><img [src]="(router.url==='/auditorium/left')? '../../assets/icons/Auditorium-h.png': '../../assets/icons/Auditorium.png'"
                    alt="">
                <div>Auditorium</div>
            </a>
        </li>
        <!-- <li>
            <a [routerLink]="['/exhibitionHall']" routerLinkActive="linkActive"><img [src]="(router.url==='/exhibitionHall')? '../../assets/icons/exhibition-h.png': '../../assets/icons/exhibition.png'"
                    alt="">
                <div>Exhibition</div>
            </a>
        </li> -->
        <li>
            <a [routerLink]="['/registrationDesk']" routerLinkActive="linkActive"><img [src]="(router.url==='/registrationDesk')?'../../assets/icons/agenda-h.png':'../../assets/icons/agenda.png'"
                    alt="">
                <div>Help Desk</div>
            </a>
        </li>
        <!-- <li>
            <a [routerLink]="['/meetingRoom']" routerLinkActive="linkActive"><img [src]="(router.url==='/meetingRoom')?'../../assets/icons/Meeting-Rooms-h.png': '../../assets/icons/Meeting-Rooms.png'"
                    alt="">
                <div>Meeting Room</div>
            </a>
        </li> -->
        <li>
            <a [routerLink]="['/networkingLounge']" routerLinkActive="linkActive"><img [src]="(router.url==='/networkingLounge')?'../../assets/icons/Briefcase-h.png': '../../assets/icons/Briefcase.png'"
                    alt="">
                <div>Networking</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/auditorium/right']" routerLinkActive="linkActive"><img [src]="(router.url==='/auditorium/right')?'../../assets/icons/first-floor-h.png': '../../assets/icons/first-floor.png'"
                    alt="">
                <div>Stage</div>
            </a>
        </li>
        <!-- <li>
            <a [routerLink]="['/quiz']" routerLinkActive="linkActive"><img [src]="(router.url==='/auditorium/right')?'../../assets/icons/feedback-h.png': '../../assets/icons/first-floor.png'"
                    alt="">
                <div>Quiz</div>
            </a>
        </li> -->
        <li>
            <!-- <a [routerLink]="['/agenda']" routerLinkActive="linkActive"><img [src]="(router.url==='/agenda')?'../../assets/icons/agenda-h.png': '../../assets/icons/agenda.png'"
                    alt="">
                <div>Agenda</div>
            </a> -->
            <a data-toggle="modal" data-target=".agendaModal"><img src="../../assets/icons/agenda.png" alt="">
                <div>Agenda</div>
            </a>
        </li>
        <li>
            <!-- <a [routerLink]="['/attendees']" routerLinkActive="linkActive"><img [src]="(router.url==='/attendees')?'../../assets/icons/user-h.png': '../../assets/icons/user.png'"
                    alt="">
                <div>Attendees</div>
            </a> -->
            <a data-toggle="modal" data-target=".attendeesModal"><img src="../../assets/icons/user.png" alt="">
                <div>BOOK AN APPOINTMENT</div>
            </a>
        </li>
        <li>
            <!-- <a [routerLink]="['/chats']" routerLinkActive="linkActive"><img [src]="(router.url==='/chats')?'../../assets/icons/chat-h.png': '../../assets/icons/chat.png'"
                    alt="">
                <div>Chats</div>
            </a> -->
            <a data-toggle="modal" data-target=".chatsModal"><img src="../../assets/icons/chat.png" alt="">
                <div>Chats</div>
            </a>
        </li>
        <li>
            <!-- <a [routerLink]="['/myContacts']" routerLinkActive="linkActive"><img [src]="(router.url==='/myContacts')?'../../assets/icons/contact-h.png': '../../assets/icons/contact.png'"
                    alt="">
                <div>Contacts</div>
            </a> -->
            <a data-toggle="modal" data-target=".myContactsModal"><img src="../../assets/icons/contact.png" alt="">
                <div>My Contacts</div>
            </a>
        </li>
        <!-- <li>

            <a data-toggle="modal" data-target=".feebackModal"><img src="../../assets/icons/contact.png" alt="">
                <div>Feedback</div>
            </a>
        </li>
        <li>
            <a data-toggle="modal" data-target=".liveQuestionModal"><img src="../../assets/icons/chat.png" alt="">
                <div>Ask Question</div>
            </a>
        </li>
        <li>
            <a data-toggle="modal" data-target=".pollModal"><img src="../../assets/icons/navigation.png" alt="">
                <div>Poll</div>
            </a>
        </li>
        <li>
            <a data-toggle="modal" (click)="showCapture()"><img src="../../assets/icons/user.png" alt="">
                <div>Take Pic</div>
            </a>
        </li>
        <li>
          <a  data-toggle="modal" data-target=".liveQuestionModal" ><img src="../../assets/icons/chat.png"
              alt="">
          <div>Ask Question</div>
          </a>
      </li>
      <li>
        <a  data-toggle="modal" data-target=".pollModal" ><img src="../../assets/icons/navigation.png"
            alt="">
        <div>Poll</div>
        </a>
    </li> -->
    </ul>

</div>
<div class="rightMenu">
    <ul class="list-unstyled">
        <li>

          <audio id="myAudioClap">
              <source src="../../../../../assets/img/applause.wav" type="audio/wav">
              <source src="../../../../../assets/img/applause.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <a (click)="playAudioClap()" type="button">
                <span class="handimg"></span>
            </a>
        </li>
        <li> <a data-toggle="modal" data-target=".feebackModal"><img src="../../assets/icons/contact.png" alt="">
          <div>Feedback</div>
      </a></li>
        <li></li>
    </ul>
</div>
<!-- Information Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Profile Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-profile></app-profile>
        </div>
    </div>
</div>

<!-- attendees Modal -->
<div class="modal fade attendeesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-attendees></app-attendees>
        </div>
    </div>
</div>

<!-- agenda Modal -->
<div class="modal fade agendaModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-agenda></app-agenda>
        </div>
    </div>
</div>


<!---heightModal -->
<div class="modal fade heightlightModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-heightlight></app-heightlight>
        </div>
    </div>
</div>
<!-- Chats Modal -->
<div class="modal fade chatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-chats></app-chats>
        </div>
    </div>
</div>

<!-- MyContacts Modal -->
<div class="modal fade myContactsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-my-contacts></app-my-contacts>
        </div>
    </div>
</div>

<div class="modal fade feebackModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-my-feedback></app-my-feedback>
        </div>
    </div>
</div>
<!-- LiveQuestion Modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-question></app-question>
        </div>
    </div>
</div>
<!-- LivePoll Modal -->
<div class="modal fade pollModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll></app-poll>
        </div>
    </div>
</div>
<!-- capturePhoto Modal -->
<div class="modal fade capturePhoto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button style="padding:5px; outline:none" type="button" class="close text-right" (click)="closeCamera()">
                <span aria-hidden="true" class="text-dark">&times;</span>
            </button>
             <!-- <app-capture-photo ></app-capture-photo> -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="vh-100">
                            <div class="d-flex flex-column align-items-center">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="p-1" [ngStyle]="{'display':showImage? 'none': 'block'}">
                                            <video #video class="vid videoData" autoplay></video>

                                            <img style="position: absolute;top:25px;left:37px;" id="logo" src="../../../assets/logo.png" />

                                            <!-- <video id="vid"></video>

                                            <br /><br />
                                            <button>take a snapshot</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="p-2" *ngIf="!showImage">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img src="../../../assets/camera.png" width="50" style="cursor: pointer"
                                                (click)="capture()" alt="">
                                            <!-- <button class="btn btn-primary" (click)="capture()">Capture Image</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1" [ngStyle]="{'display':showImage? 'block': 'none'}">
                                    <!-- <img id="scream" width="20" height="27" src="../../../assets/img/xtrem.jpeg" alt="The Scream"> -->
                                    <canvas #canvas id="canvas" class="vid"></canvas>
                                    <div class="text-center p-2">
                                        <a href="{{img}}" download="screenshot.jpg"><img src="../../../assets/img/download.png"
                                                width="50" alt="" (click)="stopVideo()"></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
