section{
    position: relative;
    height: 100%;
    width: 100%;
}
header{
    position: fixed;
    .mobile-menu{
        display: inline-flex;
        list-style-type: none;
    }
}
#signout{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #141433;
    color: white;
    z-index: 9999;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    a{
        text-transform: capitalize;
    }
}

:host {

    display: flex;
    overflow: hidden;
    height: 100vh;
    main {
      flex: 1;
      position: relative;
    //   margin-top: 46px;
    }

    ::ng-deep router-outlet ~ * {
      position: absolute;
      width: 100%;
      height: 100%;
    }

  }

  .livemsg{
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0;
    background-color: #b07e26;
    z-index: 9999;
    height: 10vh;
    width: 20vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 27px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  .navbar {
      #navbarSupportedContent{
          li {
              a {
                  text-decoration: none;
                  color: #3b3b3c;
                  font-size: 15px;
              }
          }
      }
      #icon-right {
        display: inline-flex;
        list-style-type: none;
        li {
              list-style: none;
          }
      }
  }
  .footer-nav{
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 0;
      padding: 2px 0 10px 0;
      background: #fff;
      background: linear-gradient(180deg, rgba(221, 221, 221, 0) 5.98%, rgba(255, 255, 255, 0.5) 25.24%, rgba(255, 255, 255, 0.95) 59.38%, #ffffff 90%, #ffffff 90%);

    //   background: rgb(34,34,34);
    //   background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(29,29,29,0.3981967787114846) 100%);
    }

    .footer-nav1{
        padding: 0; margin: 7px 0 0 0;
    }
    .footer-nav1 li{
        padding: 0 0 0px 24px;
        margin: 0;
        display: inline-block;
        list-style: none;
        text-decoration: none;

        a{
            text-decoration: none;
            // color: white;
            color: black;
            font-size: 12px;
            cursor: pointer;
            img {
                transition: .3s;
                -ms-transform: scale(.85); /* IE 9 */
                -webkit-transform: scale(.85); /* Safari 3-8 */
                transform: scale(.85); 
                transition: .3s;
                -ms-transition: .3s; /* IE 9 */
                -webkit-transition: .3s; /* Safari 3-8 */

            }
            .fa{
                font-size: 24px;
            }
        }
        .linkActive {
            .fa{
                font-size: 24px;
                color: #f15c25;
            }
            div{
                border-bottom: 2px solid #f15c25;
                color: #f15c25;
            }
            padding-bottom: 10px;
        }
    }
    .footer-nav1 li:hover{
        a{
            img{
                transition: .3s;
                -ms-transform: scale(1.1); /* IE 9 */
                -webkit-transform: scale(1.1); /* Safari 3-8 */
                transform: scale(1.1); 
            }
            .fa {
                transition: .3s;
                -ms-transform: scale(1.2); /* IE 9 */
                -webkit-transform: scale(1.2); /* Safari 3-8 */
                transform: scale(1.2); 

            }

        }
    }
    .noLink{
        div{
            border-bottom: none;
            color: none;
        }
    }

    .vid {
        width: 100%;
        border: 10px solid #ffc90e;
        // border-radius: 5px;
        // max-height:40vh;
    }
    #logout{
        color:red;
        cursor: pointer;
    }
    
    // .rightMenu{
    //     position: absolute;
    //     right: 0;
    //     top: 30%;
    //     text-align: center;
    //     padding: 20px 10px;
    //     color: #fff;
    //     background: rgba(0,0,0,.3);
    //     border-top-left-radius: 20px;
    //     border-bottom-left-radius: 20px;
    // }
    // a{

    //     cursor: pointer;
    // }
    // .handimg{
    //     width:48px;
    //     height:48px;
    //     display: block;
    //     background-image:url(../../assets/img/icons8-applause-48.png);
    //     background-repeat:no-repeat;
    // }

    @media screen and (max-width: 767px) {
        .footer-nav{
            display: none;
        }
        #mySidenav{
            display: block;
        }
        #sidebar{
         z-index: 100;
        }
     }
     @media screen and (min-width: 768px) {
        #hamburger{
            display: none;
        }
     }  
 .sideLinkActive{
     span{        
         border-bottom: 2px solid #f15c25;
         color: #f15c25;
         margin: 0 0 3px 3px;
     }
 }
 #hamburger{
     font-size: 24px;
     cursor: pointer;
     background: #141433;
     color: white;
     height: 36px;
     width: 36px;
     border-radius: 50%;
     margin: 10px;
     text-align: center;
     padding: 3px;
     line-height: 30px;
 }
 .sidenav {
         height: 100%;
         width: 0;
         position: fixed;
         z-index: 1;
         top: 0;
         left: 0;
         background: #fff;
         overflow-x: hidden;
         transition: 0.5s;
         padding-top: 36px;
 }
 
 .sidenav a {
         padding: 8px 8px 8px 18px;
         text-decoration: none;
         font-size: 12px;
         color: #818181;
         display: block;
         transition: 0.3s;
         img{
             width: 20px;
         }
         span {
             margin: 0 0 3px 3px;
         }
 }
 
 .sidenav a:hover {
         color: #f15c25;
 }
 
 .sidenav .closebtn {
         position: absolute;
         top: 0;
         right: 25px;
         font-size: 36px;
         margin-left: 50px;
 }
 #sidebar{
     position: absolute;
     top: 0;
 }
 #potrait{
     position: absolute;
     width: 100%;
     text-align: center;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     p{
         font-weight: 500;
         font-size: 14px;
         text-transform: capitalize;
     }
     img{
         width: 60%;
     }
 }

 #sidenavList{
     list-style-type: none;
     padding: 1px;
     li{
         padding: 3px;
         
     }
 }
 #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }