<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top p-0">
    <div class="container-fluid">
        <a class="navbar-brand text-success" [routerLink]="['/lobby']">
            <img src="assets/logo.png" alt="logo" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item pl-2"><a [routerLink]="['/lobby']"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li class="nav-item pl-2"><a href="" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-fw fa-info-circle"></i>
                        Information</a></li>
                
            </ul>
            <div class="col-md-2 text-right pr-5" id="icon-right">
                <li>
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-fw fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left:14px">
                        <a class="dropdown-item" nhref="#">{{firstName}}</a>
                        
                    </div>
                </li>
               
                <li class="pr-2">
                    <a class="nav-link" (click)="logout()" title="Logout" role="button">
                        <i class="fa fa-sign-out" id="logout"></i>
                    </a>
                </li>

            </div>
        </div>
    </div>
</nav> -->

<span *ngIf="this.router.url!='/networkingLounge'" id="signout">
    <a class="nav-link sign" (click)="logout(); stepUpAnalytics('click_Logout')" title="Logout" role="button">
        Logout</a>
</span>

<div class="livemsg" id="countdown" style="display: none;">

</div>



<div id="sidebar">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeSidebar()">&times;</a>
        <ul id="sidenavList">


            <li>
                <a [routerLink]="['/lobby']" (click)="stepUpAnalytics('click_lobby')"><img src="assets/icons/home.png"
                        alt="">
                    Lobby
                </a>
            </li>
      <li>
                <a data-toggle="modal" data-target=".agendaModal" (click)="stepUpAnalytics('click_agenda')"><img
                        src="../../assets/icons/agenda.png" alt="">
                    Agenda
                </a>
            </li>
 <li>
                <a data-toggle="modal" data-target=".liveQuestionModal"
                    (click)="stepUpAnalytics('click_helpdesk')"><img src="assets/icons/first-floor.png" alt="">
                    Help Desk
                </a>
            </li>

            <li>
                <a routerLink="['/auditorium/one']" routerLinkActive="linkActive" (click)="stepUpAnalytics('auditorium_201')"><img
                        src="assets/icons/first-floor.png" alt="">
                    Auditorium
                </a>
            </li>
           
        

            <li>
                <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_photobooth')"><img style="width: 40px;" src="assets/icons/user.png"
                        alt="">
                 Photo Booth 
                </a>
            </li> 
            
            <li>

                <a data-toggle="modal" data-target=".showlevels" (click)="stepUpAnalytics('click_quiz')"><img style="width: 40px;" src="../../assets/signify/quiz.png"
                        alt="">
                   Quiz
                </a>
            </li>
             <li>

                <a  (click)="stepUpAnalytics('click_game');openGame()">
                    <i
                    class="fa fa fa-gamepad m_btn" style="font-size: 15px;
                    font-weight: 900;"></i>
                    Games
                </a>
            </li>




            <!-- <li>
                <a (click)="audi1(); stepUpAnalytics('click_Auditorium_1')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 1
                </a>
            </li>
            <li>
                <a (click)="audi2(); stepUpAnalytics('click_Auditorium_2')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 2
                </a>
            </li>
            <li>
                <a (click)="audi3(); stepUpAnalytics('click_Auditorium_3')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 3
                </a>
            </li>
            <li>
                <a (click)="audi4(); stepUpAnalytics('click_Auditorium_4')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 4
                </a>
            </li> -->
            <!-- <li>
                <a [routerLink]="['/exhibitionHall/life']" (click)="stepUpAnalytics('click_exhibition')"><img src="assets/icons/exhibition.png"
                        alt="">
                    Exhibition
                </a>
            </li>
 <li>
                <a [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_lounge')"><img src="assets/icons/Exhibitors.png"
                        alt="">
                    Networking Lounge
                </a>
            </li> -->
            <!-- <li>
                <a [routerLink]="['/entryKeyportfolio']" (click)="stepUpAnalytics('click_Scientific_Posters')"><img src="assets/icons/Exhibitors.png"
                        alt="">
                    Scientific Posters
                </a>
            </li> -->
            <!-- <li>
                <a data-toggle="modal" data-target=".briefcaseModal"><img src="assets/icons/Briefcase.png" alt="">
                    Highlights
                </a>
            </li> -->
            <!-- <li>
                <a [routerLink]="['/capturePhoto2']" (click)="stepUpAnalytics('click_selfie1')"><img src="assets/icons/user.png"
                        alt="">
                    Selfie Booth 1
                </a>
            </li> -->
            <!-- <li>
                <a (click)="stepUpAnalytics('click_selfie2');selfie2()"><img src="assets/icons/user.png"
                        alt="">
                    Selfie Booth 2
                </a>
            </li>
             -->

            <!-- <li>
                <a data-toggle="modal" data-target=".attendeesModal"><img src="assets/icons/user.png" alt="">
                    Attendees
                </a>
            </li> -->

            <!-- <li>
                <a  [routerLink]="['/appointments']" (click)="stepUpAnalytics('click_appointments')"><img src="assets/icons/first-floor.png" alt="">
                    Appointments
                     <span style="font-size: 7px;"></span> -->
            <!-- </a>
            </li>  -->

            <!-- <li>
    
                <a data-toggle="modal" data-target=".chatsModal"><img src="../../assets/icons/chat.png" alt="">
                    Chats
                </a>
            </li> -->
            <!-- <li>

                <a data-toggle="modal" (click)="stepUpAnalytics('click_Feedback	')" data-target=".feebackModal"><img src="../../assets/icons/contact.png" alt="">
                    Feedback
                </a>
            </li> -->
        </ul>
    </div>
    <div id="hamburger" (click)="openSidebar()">&#9776;</div>
</div>
<main [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet"></router-outlet>
    <!-- <div [ngStyle]="{'display':landscape?'none':'block'}">
        <div id="potrait">
            <img src="../../assets/rotate.gif" alt="">
            <p>Switch to Landscape view</p>
        </div>
    </div>
    <div [ngStyle]="{'display':landscape?'block':'none'}">
        <router-outlet #o="outlet"></router-outlet>
    </div> -->
</main>
<div class="footer-nav">
    <ul class="footer-nav1">
        <li>
            <a [routerLink]="['/lobby']" (click)="stepUpAnalytics('click_lobby')"><img style="width: 40px;" src="assets/icons/home.png" alt="">
                <div style="font-size: 15px;
                font-weight: 900;">Lobby</div>
            </a>
        </li>
  <li>

            <a data-toggle="modal" data-target=".agendaModal" (click)="stepUpAnalytics('click_agenda')"><img style="width: 40px;" src="../../assets/icons/agenda.png"
                    alt="">
                <div style="font-size: 15px;
                font-weight: 900;">Agenda</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/registrationDesk']" routerLinkActive="linkActive"  data-toggle="modal" data-target=".liveQuestionModal"
            
            (click)="stepUpAnalytics('click_helpdesk')">
                <img src="assets/icons/first-floor.png" alt=""> 
                <div style="font-size: 15px;
                font-weight: 900;">  Help Desk</div>
            
            </a>
        </li> 
        <li>
            <a [routerLink]="['/auditorium/one']"  (click)="stepUpAnalytics('auditorium_201')"><img
                    src="assets/icons/first-floor.png" alt="">
                <div  style="font-size: 15px;
                font-weight: 900;">Auditorium</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_photobooth')"><img style="width: 40px;" src="assets/icons/user.png"
                    alt="">
                <div style="font-size: 15px;
                font-weight: 900;">Photo Booth </div>
            </a>
        </li> 
           <li>

            <a data-toggle="modal" data-target=".showlevels" (click)="stepUpAnalytics('click_quiz')"><img style="width: 40px;" src="assets/signify/quiz.png"
                    alt="">
                <div style="font-size: 15px;
                font-weight: 900;">Quiz</div>
            </a>
        </li>
        <li>

            <a  (click)="stepUpAnalytics('click_game');openGame()">
                    <i
                    class="fa fa fa-gamepad m_btn"></i>
                    <div style="font-size: 15px;
                    font-weight: 900;"> Games</div>  
                
            </a>
        </li>

         <!-- <li>
            <a [routerLink]="['/keyportfolio']" (click)="stepUpAnalytics('click_game')"><i
                    class="fa fa fa-gamepad m_btn"></i>
                Game
            </a>
        </li>  -->

<!-- 
        <li>
            <a [routerLink]="['/']" (click)="stepUpAnalytics('click_game')"><i
                    class="fa fa fa-gamepad m_btn"></i>
                <div style="font-size: 15px;
                font-weight: 900;"> Quiz</div>
            </a>
        </li> -->

        <!-- <li>
            <a [routerLink]="['/games']" (click)="stepUpAnalytics('click_game')">
                <i class='fa fa-gamepad'></i>
                <div style="font-size: 15px;
                font-weight: 900;">Games</div>
            </a>
        </li> -->
      
        <!-- data-toggle="modal" data-target=".feebackModal" -->

        <!-- <li>
            <a [routerLink]="['/registrationDesk']" routerLinkActive="linkActive"  data-toggle="modal" data-target=".liveQuestionModal">
                <img src="assets/icons/agenda.png" alt=""> 
                 <div  style="font-size: 15px;
                font-weight: 900;">Help Desk</div> 
            </a>
        </li>  -->


        <!-- <ng-container *ngFor="let audi of audis; let i=index">
            <li>
                <a (click)="gotoAudi(i+1); stepUpAnalytics('click_Auditorium_'+i+1)"><img src="assets/icons/first-floor.png"
                        alt="">
                    <div>{{audi}}</div>
                </a>
            </li>
        </ng-container> -->
        <!-- <li>
            <a [routerLink]="['/auditorium/one']" (click)="stepUpAnalytics('click_auditorium')"><img
                    style="width: 40px;" src="assets/icons/first-floor.png" alt="">
                <div style="font-size: 15px;
                font-weight: 900;">Auditorium</div>
            </a>
        </li> -->
        <!-- <li>
            <a (click)="audi1(); stepUpAnalytics('click_Auditorium_1')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 1</div>
            </a>
        </li>
        <li>
            <a (click)="audi2(); stepUpAnalytics('click_Auditorium_2')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 2</div>
            </a>
        </li>
        <li>
            <a (click)="audi3(); stepUpAnalytics('click_Auditorium_3')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 3</div>
            </a>
        </li>
        <li>
            <a (click)="audi4(); stepUpAnalytics('click_Auditorium_4')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 4</div>
            </a>
        </li> -->


        <!-- <li>
            <a [routerLink]="['/exhibitionHall/life']" (click)="stepUpAnalytics('click_exhibition')"><img style="width: 40px;" src="assets/icons/exhibition.png"
                    alt="">
                <div style="font-size: 15px;
                font-weight: 900;">Exhibition</div>
            </a>
        </li> -->


        <!-- <li>
            <a [routerLink]="['/registrationDesk']" routerLinkActive="linkActive"  data-toggle="modal" data-target=".liveQuestionModal"><img [src]="(router.url==='/registrationDesk')?'../../assets/icons/agenda-h.png':'../../assets/icons/agenda.png'"
                    alt="">
                <div  style="font-size: 15px;
                font-weight: 900;">Help Desk</div>
            </a>
        </li>  -->



        <!-- <li>
            <a [routerLink]="['/meetingRoom']" routerLinkActive="linkActive"><img [src]="(router.url==='/meetingRoom')?'../../assets/icons/Meeting-Rooms-h.png': '../../assets/icons/Meeting-Rooms.png'"
                    alt="">
                <div>Meeting Room</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_lounge')"><img style="width: 40px;" src="assets/icons/Exhibitors.png"
                    alt="">
                <div style="font-size: 15px;
                font-weight: 900;">Networking Lounge</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/entryKeyportfolio']" (click)="stepUpAnalytics('click_Scientific_Posters')"><img src="assets/icons/Exhibitors.png"
                    alt="">
                <div> Scientific Posters</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/briefcase']" routerLinkActive="linkActive"><img [src]="(router.url==='/briefcase')?'assets/icons/Briefcase-h.png': 'assets/icons/Briefcase.png'"
                    alt="">
                <div>Briefcase</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".heightlightModal"><img src="assets/icons/Briefcase.png" alt="">
                <div>Highlights</div>
            </a>
        </li> -->

        <!-- <li>
            <a [routerLink]="['/games']">
                <i class='fa fa-gamepad'></i>
                <div>Games</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".briefcaseModal"><img src="assets/icons/user.png" alt="">
                <div>Briefcase</div>
            </a>
        </li> -->

        <!-- <li>
            <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_selfie1')"><img style="width: 40px;" src="assets/icons/user.png"
                    alt="">
                <div style="font-size: 15px;
                font-weight: 900;">Photo Booth </div>
            </a>
        </li>  -->
        <!-- 
        <li>
            <a (click)="stepUpAnalytics('click_selfie2');selfie2()"><img style="width: 40px;" src="assets/icons/user.png"
                    alt="">
                <div style="font-size: 15px;
                font-weight: 900;">Selfie Booth 2</div>
            </a>
        </li>  -->


        <!-- <a [routerLink]="['/attendees']" routerLinkActive="linkActive"><img [src]="(router.url==='/attendees')?'../../assets/icons/user-h.png': '../../assets/icons/user.png'"
                    alt="">
                <div>Attendees</div>
            </a> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".attendeesModal"><img src="assets/icons/user.png" alt="">
                <div>Attendees</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/appointments']" (click)="stepUpAnalytics('click_appointments')"><img style="width: 40px;" src="assets/icons/first-floor.png" alt="">
                <div style="font-size: 15px;
                font-weight: 900;">Appointments</div>
                <span style="font-size: 7px;"></span> -->
        <!-- </a>
        </li>  -->
        <!-- <li>

            <a data-toggle="modal" data-target=".chatsModal"><img src="../../assets/icons/chat.png" alt="">
                <div>Chats</div>
            </a>
        </li> -->
        <!-- <li>

            <a data-toggle="modal" data-target=".myContactsModal"><img src="../../assets/icons/contact.png" alt="">
                <div>My Contacts</div>
            </a>
        </li> -->
        <!-- <li>

            <a (click)="stepUpAnalytics('click_Feedback')" data-toggle="modal" data-target=".feebackModal"><img src="../../assets/icons/contact.png" alt="">
                <div>Feedback</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".liveQuestionModal"><img src="../../assets/icons/chat.png" alt="">
                <div>Ask Question</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".pollModal"><img src="../../assets/icons/navigation.png" alt="">
                <div>Poll</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" (click)="showCapture()"><img src="../../assets/icons/user.png" alt="">
                <div>Take Pic</div>
            </a>
        </li> -->

    </ul>

</div>

<!-- Information Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Profile Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-profile></app-profile>
        </div>
    </div>
</div>

<!-- attendees Modal -->
<div class="modal fade attendeesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-attendees></app-attendees>
        </div>
    </div>
</div>

<!-- agenda Modal -->
<div class="modal fade agendaModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-agenda></app-agenda>
        </div>
    </div>
</div>
<div class="modal fade heightlightModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <app-heightlight></app-heightlight>
        </div>
    </div>
</div>
<!-- Chats Modal -->
<!-- <div class="modal fade chatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="position: absolute; right: 0; bottom: 0;">
        <div class="modal-content">
            <app-chats></app-chats>
        </div>
    </div>
</div> -->
<!-- Audi Modal -->
<div class="modal fade audiModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <app-active-audi></app-active-audi>
        </div>
    </div>
</div>
<!-- Briefcase Modal-->
<div class="modal fade briefcaseModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-briefcase-docs></app-briefcase-docs>
        </div>
    </div>
</div>
<!-- GroupChat Modal -->
<div class="modal fade groupchatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat></app-group-chat>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-two></app-group-chat-two>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-three></app-group-chat-three>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-four></app-group-chat-four>
        </div>
    </div>
</div>

<!-- MyContacts Modal -->
<div class="modal fade myContactsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-my-contacts></app-my-contacts>
        </div>
    </div>
</div>

<!-- <div class="modal fade feebackModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <app-my-feedback></app-my-feedback>
        </div>
    </div>
</div> -->
<!-- LiveQuestion Modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-question></app-question>
        </div>
    </div>
</div>
<!-- BallroomQuestion Modal -->
<div class="modal fade ballroomQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="position: absolute; right: 0; bottom: 0;">
        <div class="modal-content">
            <app-ballroom-question></app-ballroom-question>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="position: absolute; right: 0; bottom: 0;">
        <div class="modal-content">
            <app-ballroom-two></app-ballroom-two>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="position: absolute; right: 0; bottom: 0;">
        <div class="modal-content">
            <app-ballroom-three></app-ballroom-three>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="position: absolute; right: 0; bottom: 0;">
        <div class="modal-content">
            <app-ballroom-four></app-ballroom-four>
        </div>
    </div>
</div>

<!-- <div class="modal fade kbcqiuz" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="position: absolute; right: 0; bottom: 0;">
        <div class="modal-content">
            <app-kbc-quiz></app-kbc-quiz>
        </div>
    </div>
</div> -->

<div class="modal fade ballroomQuestionModalFive" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="position: absolute; right: 0; bottom: 0;">
        <div class="modal-content">
            <app-docs-info></app-docs-info>
        </div>
    </div>
</div>

<!-- LivePoll Modal -->
<div class="modal fade pollModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll></app-poll>
        </div>
    </div>
</div>

<!-- <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".quizModal"><img src="assets/icons/first-floor-h.png" alt="">
                <div>Quiz</div>
            </a>
        </li>
    </ul>  -->

<!-- LivePoll Modal Four-->
<div class="modal fade pollModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-four></app-poll-four>
        </div>
    </div>
</div>
<!-- LivePoll Modal Three-->
<div class="modal fade pollModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-three></app-poll-three>
        </div>
    </div>
</div>
<!-- LivePoll Modal Two-->
<div class="modal fade pollModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-two></app-poll-two>
        </div>
    </div>
</div>
<!-- wtsapp Modal -->
<div class="modal fade wtsappModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <app-wtspp-file></app-wtspp-file>
        </div>
    </div>
</div>

<!-- DoCs-Info -->
<!-- <div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-docs-info></app-docs-info>
        </div>
    </div>
</div> -->

<!-- Sales-Info -->
<!-- <div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-sales-info></app-sales-info>
        </div>
    </div>
</div> -->
<!-- Sales-Info -->
<div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-schedule-call></app-schedule-call>
        </div>
    </div>
</div>

<!-- capturePhoto Modal -->
<div class="modal fade capturePhoto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button style="padding:5px; outline:none" type="button" class="close text-right" (click)="closeCamera()">
                <span aria-hidden="true" class="text-dark">&times;</span>
            </button>
            <!-- <app-capture-photo ></app-capture-photo> -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="vh-100">
                            <div class="d-flex flex-column align-items-center">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="p-1" [ngStyle]="{'display':showImage? 'none': 'block'}">
                                            <video #video class="vid videoData" autoplay></video>
                                            <img style="position: absolute;top:25px;left:37px;" id="logo"
                                                src="assets/logo.png" />
                                            <!-- <video id="vid"></video>
                                            <br/><br/>
                                  <button>take a snapshot</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="p-2" *ngIf="!showImage">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img src="assets/camera.png" width="50" style="cursor: pointer"
                                                (click)="capture()" alt="">
                                            <!-- <button class="btn btn-primary" (click)="capture()">Capture Image</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1" [ngStyle]="{'display':showImage? 'block': 'none'}">
                                    <!-- <img id="scream" width="20" height="27" src="../../../assets/img/xtrem.jpeg" alt="The Scream"> -->
                                    <canvas #canvas id="canvas" class="vid"></canvas>
                                    <div class="text-center p-2">
                                        <a href="{{img}}" download="screenshot.jpg"><img src="assets/download.png"
                                                width="50" alt="" (click)="stopVideo()"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade lolModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                  <div class="chat_section">
                    <div class="popup_header">
                      <h6>GAME</h6>
                      <a class="close" (click)="closemodal()"></a>
                    </div>
                    
                   
                        <a  target="_blank">
                                <iframe style="width:100%" src="https://lagged.com/api/play2/superbike-hero2/"
                    height="550" frameborder='0'></iframe>
                        </a>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="modal fade note5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6>AFTER 6:30PM</h6> -->
                                <a class="close" (click)="closepopup()"></a>
                            </div>
                            <div class="container-fluid" style="background: #ffffff;">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                        <div class="row">
                                            <!-- <div class="col-12">
                                <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                              </div> -->
                                        </div>
                                        <h3 class="p-5"><b>SELFIE BOOTH WILL BE ACTIVE AT 1645 HRS</b></h3>
                                        <!-- <img src="assets/Standee-03.jpg" width="100%" height="540" alt=""> -->
                                        <!-- <embed src="assets/Emergency.pdf" frameborder="0" width="100%" height="540"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade gameModals" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row" style=" 
                  display: flex;
                  flex-wrap: wrap;
                  margin-right: -95px;
                  margin-left: -94px;
              ">
                  <div class="col-md-12 col-xl-12">
                    <div class="chat_section">
                      <div class="popup_header">
                        <h6>Game</h6>
                        <a  data-dismiss="modal" class="close" (click)="closegame()"></a>
                      </div>
                      <div id="frames"></div>
              
                      <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeeJ0fpYzt8qNGEPwm9JSiJeBnG7DjjK_lpbIKHAVTdrLX3yQ/viewform?embedded=true" frameborder="0" width="100%" height="550"></iframe> -->
                     
                      <!-- <div class="container-fluid" style=" background: #f2f4f7;">
              
                       <form [formGroup]="ratingForm" *ngIf="!show">
                        <div class="form-row">
                            <div class="form-group col-sm-8 mt-2">
                               <h6 class="mb-0">Rate your exprience</h6>
                            </div>
                            <div class="form-group col-sm-4 mt-2 text-center">
                                <h6 class="mb-0">5 being the highest</h6>
                            </div>
                        </div>
                        <div class="form-row pt-3" *ngFor="let feed of feedbackList, let i = index">
                          <div class="form-group col-sm-12">
                            {{feed.title}}<span style="color: crimson;font-size: large;"> *</span>
                          </div>
                          <div class="form-group col-sm-12">
                              <textarea type="text"  class="form-control" placeholder="Enter Your Answer" id="agenda" formControlName="agenda" ></textarea>
                          </div>
                      </div>
              
                      <div class="form-row" *ngFor="let rating of ratingList, let i = index">
                        <div class="form-group col-sm-12">
                           {{rating.title}}<span style="color: crimson;font-size: large;"> *</span>
                        </div>
                        <div class="form-group col-sm-12 text-left">
                          <div class="form-check-inline rate" *ngFor="let radio of [1, 2, 3, 4, 5]">
                            <input class="form-check-input" type="radio" name="gridRadios + {{rating.title}}" id="gridRadio + {{radio}}" value="{{radio}}" (change)="radioValue($event.target.value, rating.id)" >
                            <label class="form-check-label" for="gridRadios+{{radio}}" >
                             {{radio}}
                            </label>
                          </div>
                          
                        </div>
                    </div>
                       
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-sm-6 mt-2">
                               <h6 class="mb-0">Any recommendation on...</h6>
                            </div>
                            <div class="form-group col-sm-6 mt-2">
                                <h6 class="mb-0">Remarks</h6>
                            </div>
                        </div>
                        
                        <div class="form-row">
                          <div class="form-group col-sm-6 offset-sm-3">
                              <button type="submit" class="btn btn-danger btn-block" (click)="submitFeedback()">Submit</button>
                          </div>
                      </div>
                        <div class="form-row" >
                          <div class="form-group col-sm-6">
                            Registration Process
                          </div>
                          <div class="form-group col-sm-6">
                              <input type="text"  class="form-control" placeholder="Write here" id="registration" formControlName="password" >
                          </div>
                      </div>
                      <div class="form-row" >
                        <div class="form-group col-sm-6">
                          Event Promotion
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text"  class="form-control" placeholder="Write here"id="event" formControlName="password" >
                        </div>
                      </div>
                        
                       </form>
                       <div *ngIf="show"> 
                        <h3 class="text-center p-5">Your Feedback Successfully Submitted</h3>
                       </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              
                <!-- <div class="container-fluid" id="popup">
                  <div class="row" >
                    <div class="col-md-12 col-xl-12">
                      <div class="chat_section">
                        <div class="popup_header">
                          <h6>conference Feedback</h6>
                          <a class="close" (click)="closePopup()"></a>
                        </div>
                        <div class="container-fluid" style="background: #c5c5c5; height: 300px !important;">
                          <div class="row" >
                            <div class="col-md-12 col-xl-12 pl-0 pr-0 pb-0">
                              <embed src="../../../assets/img/feedback.jpeg" frameborder="0"
                              width="100%">
                
                
                            </div>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div> -->
                
        </div>
    </div>
</div>
</div>