/* You can add global styles to this file, and also import other style files */
@import './app/shared/custom-style/custom.component.scss';

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

h1,h2,h3,h4,h5,h6,p,li,a{
    font-family: "Montserrat", sans-serif !important;
}
button:focus{
    outline: 0px auto -webkit-focus-ring-color;

}
.form-control{
    padding: 2rem 3rem !important; 
    font-size: 1.3rem !important;
}